name: Publish on Push to Main

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Create settings.xml for Maven
      run: |
        echo '<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
          <servers>
            <server>
              <id>github</id>
              <username>${{ github.actor }}</username> <!-- Dynamically replaced -->
              <password>${{ secrets.GITHUB_TOKEN }}</password> <!-- Dynamically replaced -->
            </server>
          </servers>
        </settings>' > $GITHUB_WORKSPACE/settings.xml

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: List Files in Workspace
      run: ls -la $GITHUB_WORKSPACE

    - name: Display settings.xml (for debugging, remove later)
      run: cat $GITHUB_WORKSPACE/settings.xml

    - name: Publish to GitHub Packages Apache Maven
      run: mvn --batch-mode deploy -X -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
